<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>
                Spring Data
            </h1>
            <br/>
            <a th:href="@{/agregar}">Crear Persona</a>



            <table border="1">
                <thead>
                    <tr>
                        <th>nombre</th>
                        <th>apellido</th>
                        <th>email</th>
                        <th>telefono</th>
                        <th>editar</th>
                        <th>eliminar</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="persona: ${personas}">
                        <td><span th:text="${persona.nombre}"></span></td>
                        <td><span th:text="${persona.apellido}"></span></td>
                        <td><span th:text="${persona.email}"></span></td>
                        <td><span th:text="${persona.telefono}"></span></td>
                        <td>
                            <a th:href="@{/editar/}+${persona.idPersona}" th:text="editar"></a>
                        </td>
                        <td>
                            <a th:href="@{/eliminar(idPersona=${persona.idPersona})}" th:text="eliminar"></a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </body>
</html>
